<div class="copyright">
  <hr>
  <div class="copyright-text">
    <p>©2022-2023, Lumap</p>
  </div>
</div>
<link rel="stylesheet" href="http<%=s%>://c.<%= domainName %>/css/footer.css">
</body>

</html>