<div class="copyright">
    <hr>
    <div class="copyright-text">
        <p>©2022-2023, Hugo C.</p>
    </div>
</div>
<link rel="stylesheet" href="http<%=domainName.startsWith('localhost')?'':'s'%>://cdn.<%= domainName %>/css/footer.css">
</body>

</html>