<!DOCTYPE html>
<html lang="en">


<head>
    <title>Lumap's website</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta property="og:title" content="a very goofy website" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="ft. cat" />
    <meta property="og:image" content="http://cdn.discordapp.com/emojis/866378791936720936.png" />
    <link rel="stylesheet" href="http<%=s%>://cdn.<%=domainName%>/css/_reset.css">
</head>

<body>