<%- include('../partials/header.ejs') %>

<p>Hola! la vida és una sopa. M'encanten els gats si no ho poguéssiu dir.</p>
<br>
<div id="dpresence"></div>
<script>
    (async () => {
        const id = '<%= userId %>';
        const res = await fetch(`https://api.lumap.cat/presence?id=${id}&format=html`).then(r => r.text());
        document.getElementById("dpresence").innerHTML = res;
    })();
</script>
<br>
<p>Em sento massa avorrit per fer res significatiu, així que aquí tens una llista de llocs web que utilitzo regularment o formes de posar-te en contacte amb mi.</p>
<br>
<a href="http://twitter.com/lumapcat">http://twitter.com/lumapcat</a>
<br>
<a href="https://github.com/lumap">https://github.com/lumap</a>
<br>
<a href="mailto:contact@lumap.cat">mailto:contact@lumap.cat</a>
<br>
<a href="https://discord.gg/h4UaJ5JNpj">https://discord.gg/h4UaJ5JNpj</a>
<br>
<a href="https://api.lumap.cat/botinvite?id=966271016953327649&perms=51200">https://api.lumap.cat/botinvite?id=966271016953327649&perms=51200</a>
<br>
<a href="https://www.youtube.com/@lumap69">https://www.youtube.com/@lumap69</a>
<br>
SW-0976-3193-6406
<br>
<a href="/">English</a>

<link rel="stylesheet" href="https://cdn.lumap.cat/css/index.css">

<%- include('../partials/footer.ejs') %>